.number{
  color: blue;
  background-color: yellow;
  font-size: 100px;
  float: centre;
  width: 30%;
  height: 20%;
  border: 2px solid black;
  text-align: center;
  display: inline-block;
margin-top: 3px;

}

.col1{
  width: 30%;

  }
.col2{
  width: 30%;

}
.col3{
  width: 30%;
}

.highLight{
  background-color: green;
  color: Red;
  font-size: 100px;
  float: centre;
  width: 30%;
  height: 20%;
  border: 2px solid black;
  text-align: center;
  display: inline-block;
margin-top: 3px;
}

/*#num1 {
  color: blue;
  background-color: yellow;
  font-size: 100px;
  float: centre;
  width: 30%;
  height: 20%
  border: inline-block;

}
#num2 {
  color: blue;
  background-color: yellow;
  font-size: 100px;
  float: centre;
  width: 30%;
  height:20%
  border: inline-block;
}
#num3 {
  color: blue;
  background-color: yellow;
  font-size: 100px;
  float: centre;
  width: 30%;
  height:20%
  border: inline-block;
}
#row1{

width: 30%;
height: 20%;
text-align: center;

}
*/
